#navigation {
  transition: 0.33s all ease-in-out;
  /* height: 68px !important; */
  /* z-index: 999; */
}

#navigation.active {
  @apply bg-white;
  height: 100vh !important;

  .hue-header.white .shift {
      color: #000 !important; 
  }

  /* .hue-header.white button{
    color: #000 !important;
  } */

  .menu {
    transform: translateY(0%);
    display: flex !important;
  }
}

#navigation .menu {
  transition: 0.33s all ease-in-out;
}

body.page-collections #navigation {
  position: relative !important;
  background-color: rgba(255,255,255,0.6);
}

body.page-home #menu #nav-selected {
  @apply font-medium tracking-widest;
}

body.page-collections #menu #nav-collections {
    @apply font-medium tracking-wider;
}

body.page-jesse-rieser #menu #nav-about {
  @apply font-medium tracking-wider;
}


@responsive {
  .translate-0 {
    transform: translateY(0%);
  }
  .translate-neg {
    transform: translateY(-200%);
  }
}

@media (max-width: 640px) { 
  .translate-none {
    transform: none !important;
  }
}

.hue-header h1, .hue-header button {
  transition: 0.33s all ease-in-out;
}

.btn {
  @apply font-medium py-1 px-2 rounded cursor-pointer text-base;
  transition: 0.33s background-color ease-in-out;
}

.btn-gray {
  @apply bg-gray-100 text-gray-700;
}
.btn-gray:hover {
  @apply bg-gray-200;
}
.btn-toggle.active {
  @apply font-bold text-gray-800;
}

.button {
  transition: 0.2s color ease-in-out;
  @apply text-black;
}
.button:hover {
  @apply text-gray-600;
}
.button.ui-check {
  transition: 0.1s font-weight ease-in-out;
}
.button.ui-check.is-checked {
  @apply font-bold text-black;
}
.button.button.ui-check.is-checked::after {
  content: "x";
  position: absolute;
  left: -0.5rem;
  bottom: 1px;
  @apply font-thin;
}

.button.ui-radio.is-checked {
  @apply font-bold underline;
}

.hue-btn {
  @apply font-light py-2 px-4 rounded no-underline text-white;
  background-color: rgba(255,255,255,0.2);
  &:hover {
    background-color: rgba(255,255,255,0.4);
  }
}

.hue-header.default .shift, .hue-header.black .shift{
  @apply text-black;
}

.hue-header.white .shift{
  @apply text-white;
}

a.shift:hover {
  @apply text-black;
}

.btn-brief {
  @apply font-light no-underline text-white w-full py-4;
  background-color: rgba(255,255,255,0.1);
  transition: 0.33s background-color ease-in-out;
  &:hover {
    background-color: rgba(255,255,255, 0.2);
  }
}

