#navigation {
  transition: 0.33s all ease-in-out;
}

#navigation.active {
  @apply bg-white;
  height: 100vh !important;

  .hue-header.white .shift {
      color: #000 !important; 
  }

  /* .hue-header.white button{
    color: #000 !important;
  } */

  .menu {
    transform: translateY(0%);
  }
}

#navigation .menu {
  transform: translateY(-200%);
  transition: 0.33s all ease-in-out;
}
@media (min-width: 1280px) {
}

.hue-header h1, .hue-header button {
  transition: 0.33s all ease-in-out;
}

.btn {
  @apply font-bold py-2 px-4 rounded cursor-pointer;
  transition: 0.33s background-color ease-in-out;
}
.btn.toggle.active:after {
  content: " x";
  font-weight: 100;
}
.btn-gray {
  @apply bg-gray-100 text-black;
}
.btn-gray:hover, .btn-gray.active {
  @apply bg-gray-200;
  
}

.hue-btn {
  @apply font-light py-2 px-4 rounded no-underline text-white;
  background-color: rgba(255,255,255,0.2);
  &:hover {
    background-color: rgba(255,255,255,0.4);
  }
}

.hue-header.default .shift, .hue-header.black .shift{
  @apply text-black;
}

.hue-header.white .shift{
  @apply text-white;
}

a.shift:hover {
  @apply text-black;
}

.btn-brief {
  @apply font-light no-underline text-white w-full py-4;
  background-color: rgba(255,255,255,0.1);
  transition: 0.33s background-color ease-in-out;
  &:hover {
    background-color: rgba(255,255,255, 0.2);
  }
}

