.transition-page {
  transition: 0.33s opacity cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-delay: 0.45s;
  opacity: 1;
}

html.is-animating .transition-page {
  opacity: 0;
}

html.is-animating.is-leaving .transition-page {
  transition: 0.1s opacity linear;
  transition-delay: 0;
}

.transition-nav {
  transition: 0.15s;
  transition-delay: 0.30s;
  opacity: 1;
}

html.is-animating .transition-nav {
  opacity: 0;
}

html.is-animating.is-leaving .transition-nav {
  transition: 0.1s opacity linear;
  transition-delay: 0.33s;
}


#filter {
  overflow: hidden;
  margin: 0 -0.5rem 0 -0.5rem;
  transition: 0.33s opacity cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@keyframes loading-pulse {
  0% {
    background-position: -400px 0%;
  }
  100% {
    background-position: 400px 0%;
  }
}

/* header {
   will-change: transform;
  transform: translate3d(0,0,0);
} */

header img {
  mask-image: url("/r-mask.svg");
  mask-repeat: no-repeat;
  mask-position: center 40%;
  mask-size: 25% auto;
}
 
header img.lazyloaded {
  animation-name: r-drop, r-expand;
  animation-duration: 1s, 0.5s;
  animation-iteration-count: 1, 1;
  animation-timing-function: ease-out, ease-in;
  animation-fill-mode: forwards, forwards;
  transform-origin: center, center;
  opacity: 1, 1;
  animation-delay: 0ms, 2s;
} 

#header-overlay, #feature-overlay {
  will-change: opacity;
}

header img.lazyload + #header-overlay, header img.lazyloading + #header-overlay, header img.lazyload + #feature-overlay, header img.lazyloading + #feature-overlay  {
  opacity: 1;
}

header img.lazyloaded + #header-overlay,  header img.lazyloaded + #feature-overlay{
  opacity: 0;
}

header img.lazyloaded + #header-overlay + #header-loading, header img.lazyloaded + #feature-overlay + #header-loading  {
  opacity: 0;
}

@keyframes r-drop {
  0% {
    mask-position: center 40%;
  }
  100% {
    mask-position: center 50%;
  }
}


@keyframes r-expand {
  0% {
  }
  99% {
    mask-size: 1000% auto;
  }
  100% {
    mask-size: 5000% auto;
  }
}

/* header img + svg #mask svg {
  will-change: transform;
  display: block;
}
header img + svg #mask rect {
  will-change: transform;
  opacity: 1;
}
header img + svg #mask path {
  will-change: opacity;
  transform-box:fill-box;
  transform: translateX(50%) translateX(-150px) translateY(50%)
    translateY(-170px);
  opacity: 0;
  transition: opacity 1s ease-in-out 0.2s;
}
header img.lazyloaded + svg #mask path {
  transform: translateX(50%) translateX(-150px) translateY(50%)
  translateY(-170px);
  opacity: 1;
}


header img + svg rect.cover {
  will-change: opactiy;
  transition: 1s opacity ease-in-out;
  transition-delay: 3s;
  transform-origin: center;
  opacity: 1;
}

header img.lazyloaded + svg rect.cover {
  opacity: 0;
  animation-name: r-expand;
  animation-duration: 0.66s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(1, 0, 0.81, 0.58);
  animation-fill-mode: forwards;
  transform-origin: center;
  animation-delay: 2s;
} */

header img {
  transition: opacity 0.33s ease-in-out;
  will-change: opactiy;
}
header img.lazyload, header img.lazyloading {
  opacity: 0;
}
header img.lazyloaded {
  opacity: 1;
}


#loading-overlay {
  will-change: opactiy;
  transition: opacity 0.33s ease-in-out 0.1s;
}

#project-header {
  will-change: margin;
}

#project-header img.lazyloaded #loading-overlay {
  opacity: 0;
}

img[data-sizes="auto"] { display: block; width: 100%; }


img {
  transition: 0.33s opacity cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-delay: 0.33s;
  opacity: 1;
  width: 100%;
  height: auto;
  display: block;
}

img.lazyload {
  opacity: 0;
}


.block-hover img {
  transition-delay: 0s;
}

img.lazyloaded,
#page-title.lazyloaded,
img.pswp__img {
  opacity: 1;
  transition-delay: 0s;
}

figure.lit img {
  opacity: 0;
}

figure:hover img {
  opacity: 1;
}

#page-title {
  transition: 0.33s opacity cubic-bezier(0.55, 0.055, 0.675, 0.19) 2s;
  opacity: 0;
  transform: translate3d(0, -45vh, 0);
}

/* .block-hover figcaption {
  opacity: 0;
  transition: 0.33s opacity cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.block-hover article:hover figcaption {
  opacity: 1;
} */

.block-hover img:hover {
  cursor: zoom-in;
}

.block-hover h6 {
  opacity: 0;
  transition: 0.33s opacity cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.block-hover:hover h6 {
  opacity: 1;
}

figcaption p {
  @apply mb-4;
}

@media (pointer: fine) {
.figure.dimmed img {
  opacity: 0 !important;
}

.figure.dimmed:hover img {
  opacity: 1 !important;
}
}

/* .group-hover:hover > .block-hover img {
  opacity: 0;
}

.group-hover:hover > .block-hover:hover img {
  opacity: 1;
} */

/* Filters */
#filters {
  top: 0px;
}
#categories {
  max-height: 0;
  opacity: 0;
  will-change: max-height;
  transition: max-height 0.33s ease-in-out, opacity 0.33s ease-in-out;
  overflow: hidden;
}
#categories.opened {
  max-height: 600px;
  opacity: 1;
}

#catToggle::after {
  content: " +";
}
#catToggle.active::after {
  content: " -";
}

#filter-loading {
  transition: 0.1s opacity linear;
  will-change: opacity;
  opacity: 1;
}

#filter-error, #all, #all-divide {
  transition: 0.3s opacity linear;
  will-change: opacity;
  opacity: 0;
}

/* #filter .ui-check.is-checked {
  color: #ff0000;
} */

#filter-error.active {
  opacity: 1;
}

.filter-item img.lazyloading, .filter-item img.lazyload {
  opacity: 0 !important;
}
.filter-item figcaption {
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.33s ease-in-out;
}
.filter-item.active figcaption {
  opacity: 1;
}
.filter-item img {
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.33s ease-in-out;
}
.filter-item.active img {
  opacity: 1;
}

.filter-container{
  will-change: height;
  transition-duration: 0.8s;
  transition-property: height;
  min-height: 400px;
  
}

/**** disabling Isotope CSS3 transitions ****/

.filter-container.no-transition,
.filter-container.no-transition .filter-item,
.filter-container .filter-item.no-transition {
  transition-duration: 0s;
}


/* Collection slideshow */
.collection-preview img {
  top: 0;
  left: 0;
  position: absolute;
  animation: showMe 2s linear infinite 0s forwards;
  animation-play-state: paused;
}
.collection-preview img:nth-child(1) {
  z-index: 4;
}
.collection-preview img:nth-child(2) {
  animation-delay: 0.5s;
  z-index: 3;
}
.collection-preview img:nth-child(3) {
  animation-delay: 1s;
  z-index: 2;
}
.collection-preview img:nth-child(4) {
  animation-delay: 1.5s;
  z-index: 1;
}

.collection-preview:hover {
  background-color: #ff;
}
.collection-preview:hover img {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@keyframes showMe {
  0% {
    /* opacity: 1; */
    visibility: visible;
    z-index: 40;
  }
  12.5% {
    /* opacity: 1; */
    visibility: visible;
    z-index: 40;
  }
  25% {
    /* opacity: 0; */
    visibility: hidden;
    z-index: 0;
  }
  100% {
    /* opacity: 0; */
    visibility: hidden;
    z-index: 0;
  }
}
/* About Page */
#about-description {
  h1, h2, h3, h4, h5, h6 {
    @apply text-white;
  }
  p {
    @apply text-black mt-4;
  }
}

/* .filter-archive::after {
  content: '';
    height: 4000px;
    background: #000;
    position: absolute;
    width: 4000px;
    left: -400px;
    top: 0;
} */

/* Modal Popup */
.body-popup {
  z-index: 1010;
  display: none;
  
  &.is-poped-out {
    display: block;
  }
}

.popup-trigger {
  display: inline-block;
}

.popup-modal {
  will-change: opacity;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  
  &.is--visible {
    opacity: 1;
    pointer-events: auto;
  }
}

@responsive {
  .border-box {
    box-sizing: border-box;
  }
  .content-box {
    box-sizing: content-box;
  }
  .vh-20 {
    height: 20vh;
  }
  .vh-25 {
    height: 25vh;
  }
  .vh-33 {
    height: 33vh;
  }
  .vh-50 {
    height: 50vh;
  }
  .vh-75 {
    height: 75vh;
  }
  .vh-80 {
    height: 80vh;
  }
  .vh-90 {
    height: 90vh;
  }
  .vh-screen {
    height: 100vh;
  }
}

.rellax {
  will-change: transform;
}

@media only screen and (max-width: 760px) {
 .rellax {
   margin-left: 0 !important;
   margin-right: 0 !important;
 }

 header img {
  mask-size: 50% auto;
}

 .rellax-off {
  transform: translate3d(0px, 0px, 0px) !important;
 }
 .popup-modal{
   height: 100vh !important;
   width: 100vw !important;
   top: 0 !important;
   bottom: 0 !important;
   left: 0 !important;

   .popup-modal__close {
    right: 0px !important;
    top: 0px !important;
   }

   section {
     height: 100% !important;
   }
 }
}

