<!DOCTYPE html>
<html lang="{{ .Lang }}" class="overflow-y-scroll overflow-x-hidden">
  {{ partial "head" .}}
  {{ partial "style_themer.html" .}}
  <body class="{{ with.Title }}page-{{ lower . | urlize }}{{ end }}">
    {{ partial "header" .}}
    <main id="content" class="transition-page">
      {{ block "main" .}}
      {{ end }}
      {{ partial "footer" . }}
      <!-- {{ partial "r-background" . }} -->
      {{ block "attached" .}}
      {{ end }}
      <div class="body-popup h-full w-full fixed inset-0 z-40" style="background: rgba(255,255,255,0.6);"></div>
    </main>
  </body>
  {{ template "_internal/google_analytics_async.html" . }}
</html>
