<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head" .}}
  <body class="{{ with.Title }}page-{{ lower . | urlize }}{{ end }} {{ if eq .Params.collection_archive true }}archive{{end}}">
    {{ partial "header" .}}
    <main id="content" class="transition-page">
      {{ block "main" .}}
      {{ end }}
      {{ partial "footer" . }}
      <!-- <div class="body-popup h-full w-full fixed inset-0 z-40" style="background: rgba(235,235,235,0.85);"></div> -->
      {{ block "attached" .}}
      {{ end }}
      <script src="https://player.vimeo.com/api/player.js"></script>
      {{ template "_internal/google_analytics_async.html" . }}
    </main>
    {{ partial "modal_about.html" .}}
    {{ partial "fa-icon.html" .}}
    <style type="text/css">
    {{ partial "style_themer.html" . | safeCSS }}
    </style>
  </body>
</html>
