{{- define "main" -}}
<section data-hue="{{with .Params.navigation_theme}}{{.}}{{end}}" class="relative z-0">
    {{ partial "about_header" .}}
    </section>
    <section data-hue="page" class="pt-8 mx-auto bg-white relative z-100 overflow-y-hidden" style="backface-visibility: hidden;">
        <div class="px-8 xl:px-16">
            <section class="block-media group-hover flex flex-wrap mx-auto h-auto {{with .Params.row_alignment}}sm:justify-{{.}}{{else}}sm:justify-between{{end}}">
                {{- range .Params.page_sections -}}
                {{ partial (printf "blocks/block-%s.html" .block) (dict "Section" . "Page" $ "Site" $.Site) }}
                {{- end -}}
            <div class="h-24 w-full"></div>
            <div class="flex flex-row justify-center w-full">
                <figure class="bg-center w-1/2 sm:w-1/4">
                    <img data-srcset="/bio.jpg?nf_resize=fit&w=1024 1024w, /bio.jpg?nf_resize=fit&w=1920 1920w, /bio.jpg?nf_resize=fit&w=2560 2560w, /bio.jpg"
                    data-sizes="auto"
                    class="lazyload bg-center w-1/2 sm:w-1/4"/>
                </figure>
            </div>
            </section>
        </div>
        <footer class="px-8 xl:px-16" style="background-color: {{.Params.theme_color}};">
            test
        </footer>
</section>
{{- end -}}
