{{- define "main" -}}
<section data-hue="{{with .Params.navigation_theme}}{{.}}{{end}}" class="relative z-0">
    {{ partial "about_header" .}}
    </section>
    <section data-hue="page" class="pt-4 mx-auto bg-white relative z-100 overflow-y-hidden" style="backface-visibility: hidden;">
        <div class="px-4 xl:px-16">
            <section class="block-media group-hover flex flex-wrap mx-auto h-auto {{with .Params.row_alignment}}sm:justify-{{.}}{{else}}sm:justify-between{{end}}">
                {{ partial "about_bio" .}}
                {{- range .Params.page_sections -}}
                {{ partial (printf "blocks/block-%s.html" .block) (dict "Section" . "Page" $ "Site" $.Site) }}
                {{- end -}}
            <div class="h-8 sm:h-24 w-full"></div>
            <div class="flex flex-row justify-center w-full">
                <figure class="bg-center w-full sm:w-40/100 relative">
                    <img src="/bio.jpg?width=1024" data-srcset="/bio.jpg?width=1024 1024w, /bio.jpg?width=1920 1920w, /bio.jpg?width=2560 2560w, /bio.jpg"
                    data-sizes="auto"
                    class="lazyload bg-center w-full sm:w-1/3"/>
                    {{with .Params.cv }}<a href="{{.}}">{{end}}
                        <div class="absolute text-4xl md:text-5xl lg:text-6xl top-0 right-0 mr-12 mt-16 lg:mt-24 md:mr-14 lg:mr-24" style="color: {{.Params.cv_color}}">CV <i class="far fa-arrow-down"></i></div>
                    {{with .Params.cv }}</a>{{end}}
                    <h6 class="w-full absolute bottom-0 right-0 mb-4 ml-0 text-black font-normal text-xs sm:text-base tracking-widest text-right leading-tight mt-1 sm:mt-0" data-sal="slide-down" data-sal-delay="600">{{.Params.about_bio_doodle_credit}}</h6>
                </figure>
            </div>
            </section>
        </div>
        <footer class="px-4 xl:px-16 py-10 flex flex-wrap" style="background-color: {{.Params.theme_color}};">
            {{ range .Params.footer_links }}
                <a href="{{ .link_url }}" class="w-full md:w-1/4 lg:w-1/5 text-white text-base md:text-lg" alt="link to - {{ .link_title }}">{{ .link_title }}</a>               
            {{ end }}
        </footer>
</section>
{{- end -}}
