<header id="project-header" class="w-full h-screen lazyload flex flex-col items-center overflow-hidden relative" style="background-color: {{.Params.theme_color}};">
    <img data-srcset="{{.Params.collection_cover }}?nf_resize=fit&w=1024 1024w, {{.Params.collection_cover }}?nf_resize=fit&w=1920 1920w, {{.Params.collection_cover }}?nf_resize=fit&w=2560 2560w, {{.Params.collection_cover }}"
		 data-sizes="auto"
		 class="lazyload z-10 bg-center max-w-full h-full object-cover"
		 data-parent-fit="cover"/>
    <div id="header-loading" class="text-center font-semibold fixed inset-x-0 bottom-0 z-50 text-4xl">
        <i class="fad fa-spinner-third fa-spin text-{{.Params.navigation_theme}}"></i>
    </div>
    <div id="about-title" class="absolute inset-auto h-full z-50 margin-0 uppercase px-4 sm:px-0 font-light tracking-wide text-{{.Params.navigation_theme}} text-center lazyload">
        <h1 class="uppercase text-4xl sm:text-6xl font-light tracking-loose text-center relative" style="top: 40%" data-sal="slide-down" data-sal-delay="600">{{.Title}}</h1>
    </div>
</header>
<article id="about-description" class="w-full py-8 px-8 xl:px-16 text-xl text-{{.Params.navigation_theme}} items-center text-justify"  style="background-color: {{.Params.theme_color}};">
    <div class="flex flex-wrap justify-center mx-auto px-0 sm:px-32">
        <aside class="w-full sm:w-1/3 pb-4 sm:pb-0" data-sal="slide-down" data-sal-delay="300">{{ .Params.header_col_1 | markdownify }}</aside>
        <aside class="w-full sm:w-1/3 px-0 sm:px-4 pb-4 sm:pb-0" data-sal="slide-down" data-sal-delay="600">{{ .Params.header_col_2 | markdownify }}</aside>
        <aside class="w-full sm:w-1/3 pb-4 sm:pb-0" data-sal="slide-down" data-sal-delay="900">{{ .Params.header_col_3 | markdownify }}</aside> 
    </div>
</article>
