<section class="filters sticky top-0 mx-auto flex flex-col mb-4 z-40">
    <div class="ui-group flex flex-row flex-wrap py-4">
      <div class="button-group js-radio-button-group">
        {{range $.Site.Data.categories}}
        {{range sort .categories "value" "asc"}}
        <button class="pr-4 button" data-filter=".{{. | replaceRE "[\\W]" "" | lower}}">{{.}}</button>
        {{end}}
        {{end}}
      </div>
      <div class="button-group js-radio-button-group pt-4">
        <button class="button pr-4" data-filter=".personal">Personal</button>
        <button class="button" data-filter=".commissionedstock">Commissioned + Stock</button>
      </div>
    </div>
</section>