<header id="project-header" class="w-full h-screen lazyload flex flex-col items-center overflow-hidden relative" style="background-color: {{.Params.theme_color}};">
    <img data-srcset="{{.Params.collection_cover }}?nf_resize=fit&w=1024 1024w, {{.Params.collection_cover }}?nf_resize=fit&w=1920 1920w, {{.Params.collection_cover }}?nf_resize=fit&w=2560 2560w, {{.Params.collection_cover }}"
		 data-sizes="auto"
		 class="lazyload z-10 bg-center max-w-full h-full object-cover"
		 data-parent-fit="cover"/>
    <!-- {{partial "r-mask-clip" .}} -->
    <div id="header-loading" class="text-center font-semibold absolute inset-x-0 bottom-0 z-50 text-4xl">
        <i class="fad fa-spinner-third fa-spin text-{{.Params.navigation_theme}}"></i>
    </div>
    <div id="page-title" class="fixed bottom-0 z-50 margin-0 uppercase px-4 sm:px-0 font-light tracking-wide text-{{.Params.navigation_theme}} text-center lazyload" style="transform: translate3d(0, -45vh, 0)">
        <h1 class="uppercase text-4xl sm:text-6xl font-light tracking-loose text-center" data-sal="slide-down" data-sal-delay="600">{{.Title}}</h1>
        <h2 class="uppercase text-lg sm:2xl font-light italic tracking-widest text-center" data-sal="slide-down" data-sal-delay="900">{{.Params.collection_meta}}</h2>
    </div>
    <div class="absolute bottom-0 mx-0 text-6xl font-light text-{{.Params.navigation_theme}} z-10">&#8964;</div>
    <!-- <div id="loading-overlay" class="absolute w-full h-screen inset-auto z-10" style="background-color: {{.Params.theme_color}};"></div> -->
    <div id="header-overlay" class="flex flex-col justify-end absolute w-full h-screen inset-auto z-40" style="background-color: {{if (eq .Params.collection_archive true) }}#000{{else}}{{.Params.theme_color}}{{end}};"></div>
</header>
<article id="project-description" class="w-full py-8 px-8 xl:px-16 text-xl text-{{.Params.navigation_theme}} items-center text-justify leading-loose"  style="background-color: {{if (eq .Params.collection_archive true) }}#000{{else}}{{.Params.theme_color}}{{end}};">
    <div class="flex flex-col justify-center mx-auto" data-sal="slide-up" data-sal-delay="300">
            {{ .Params.collection_description | markdownify }}
            {{if (eq .Params.hide_footer true) }}
            {{else}}
            <a href="#project-brief" class="block text-{{.Params.navigation_theme}} font-normal" data-no-swup>more...</a>
            {{end}}
    </div>
</article>
