<section id="project-next" class="mt-32">
    {{ with .NextInSection }}
    <a href="{{ .Permalink }}" alt="Next Project - {{ .Title }}" data-swup-preload>
    <div class="container mx-auto w-full p-8 leading-normal text-black flex flex-col justify-center items-center">
            <div class="text-3xl block mb-4">
            NEXT PROJECT
            </div>
            <div class="block">
                {{ .Title }}
            </div>
    </div>
    </a>
    {{ end }}
</section>
<section id="project-brief" class="mt-32" style="background-color:{{.Params.theme_color}};">
    <div class="container mx-auto w-full p-8 text-lg leading-loose text-white"  data-sal="slide-down" data-sal-delay="300">
        {{ .Params.collection_content | markdownify }}
    </div>
</section>