<figure class="filter-item p-2 sm:w-1/4 h-auto w-full overflow-hidden {{range .Params.collection_category}}{{. | replaceRE "[\\W]" "" | lower}} {{end}}{{with .Params.collection_filter}}{{. | replaceRE "[\\W]" "" | lower}}{{end}} active" data-theme="{{.Params.theme_color}}" data-filter="{{range .Params.collection_category}}{{. | replaceRE "[\\W]" "" | lower}},{{end}}">
    <a href="{{.Permalink}}">
        <div style="background-color: #000;">
        <img src="{{.Params.collection_cover}}?nf_resize=smartcrop&w=640&h=480" alt="{{.Title}}"/>
        </div>
        {{ if eq .Params.collection_archive true }}
        <figcaption class="text-white text-md uppercase">
        {{else}}
        <figcaption class="text-black text-md uppercase">
        {{end}}
        <span class="font-semibold italic block pt-2">{{.Title}}</span>
        {{with .Params.collection_meta}}<span class="font-light block">{{.}}</span>{{end}}
        </figcaption>
    </a>
</figure>