<section class="flex flex-col mb-4">
  <div class="flex flex-row flex-wrap border-t border-l-0 border-r-0 border-b border-solid border-gray-200 py-4">
    <!-- For filtering controls add -->
    <!-- <button data-multifilter="all" class="btn btn-gray m-1 reset"> All items </button> -->
    {{range $.Site.Data.categories}}
    {{range .categories}}
    <button data-multifilter="{{. | urlize}}" class="btn btn-gray m-1 toggle">{{.}}</button>
    {{end}}
    {{end}}
    <!-- <li data-sortAsc> Ascending </li>
    <li data-sortDesc> Descending </li> -->
  </div>
  <div class="flex flex-row flex-wrap border-t-0 border-l-0 border-r-0 border-b border-solid border-gray-200 py-4">
    <button data-multifilter="personal" class="btn btn-gray m-1 toggle">Personal</button>
    <button data-multifilter="comissioned-+-stock" class="btn btn-gray m-1 toggle">Comissioned + Stock</button>
  </div>
  <!-- To choose the value by which you want to sort add -->
  <!-- <select data-sortOrder>
    <option value="index"> Position </option>
    <option value="sortData"> Custom Data </option>
  </select> -->
  <!-- To create a search control -->
  <!-- <input type="text" name="filtr-search" value="" placeholder="Your search" data-search=""> -->
</section>