<figure class="filter-item h-auto py-4 pr-4 sm:pr-0 pl-4 md:w-grid-four sm:w-grid-three w-full overflow-hidden {{range .Params.collection_category }}{{. | replaceRE "[\\W]" "" | lower}} {{end}}{{with .Params.collection_filter}}{{. | replaceRE "[\\W]" "" | lower}}{{end}} all active" data-theme="{{with .Params.theme_color_all_works}}{{.}}{{else}}{{.Params.theme_color}}{{end}}" data-filter="{{range .Params.collection_category}}{{. | replaceRE "[\\W]" "" | lower}},{{end}}{{with .Params.collection_filter}}{{. | replaceRE "[\\W]" "" | lower}}{{end}}">
    <a href="{{.RelPermalink}}">
        {{if .Params.collection_preview }}
        <div class="collection-preview relative lazyload" style="padding-top:75%; background-color:{{.Params.theme_color}};">
        {{else}}
        <div class="relative" style="padding-top:75%; background-color:{{.Params.theme_color}};">
        {{end}}

            {{with .Params.collection_preview}}
            {{ range first 4 . }}
            <img data-sizes="auto" data-srcset="{{.}}?nf_resize=fit&w=800&h=600 800w, {{.}}?nf_resize=fit&w=1600&h=1200 1600w" class="lazyload absolute top-0 left-0" style="opacity: 0;"/>
            {{end}}
            {{else}}
            <img data-sizes="auto" data-parent-fit="cover" data-srcset="{{.Params.collection_cover}}?nf_resize=fit&w=800&h=600 800w, {{.Params.collection_cover}}?nf_resize=fit&w=1600&h=1200 1600w" class="lazyload absolute top-0 left-0" alt="{{.Title}}"/>
            {{end}}

        </div>
        
        {{ if eq .Params.collection_archive true }}
        <figcaption class="text-white bg-black px-3 py-1 text-base">
        {{else}}
        <figcaption class="text-black text-base">
        {{end}}
        <span class="font-medium italic block pt-1 tracking-wide leading-tight">{{.Title}}</span>
        {{with .Params.collection_meta}}<span class="font-normal block text-xs">{{.}}</span>{{end}}
        </figcaption>
    </a>
</figure>