<header id="project-header" class="w-full h-screen lazyload bg-cover bg-center bg-fixed flex flex-col items-center overflow-hidden" data-bgset="{{.Params.feature_cover }}?nf_resize=fit&w=800 800w, {{.Params.feature_cover }}?nf_resize=fit&w=1200 1200w, {{.Params.feature_cover }}?nf_resize=fit&w=1600 1600w, {{.Params.feature_cover }}" data-sizes="auto" style="background-color: {{.Params.theme_color}};">
    {{partial "r-mask" .}}
    <div class="absolute bottom-0 mx-0 text-6xl font-light text-{{.Params.navigation_theme}}">&#8964;</div>
    <div id="loading-overlay" class="absolute w-full h-screen  inset-auto z-10" style="background-color: {{.Params.theme_color}};"></div>
    <div id="header-overlay" class="flex flex-col justify-end absolute w-full h-screen  inset-auto" style="background-color: {{.Params.theme_color}};"></div>
</header>
<article id="project-description" class="w-full py-8 px-8 xl:px-16 text-xl text-{{.Params.navigation_theme}} items-center text-justify leading-loose"  style="background-color: {{.Params.theme_color}};">
    <div class="flex flex-col justify-center mx-auto" data-sal="slide-up" data-sal-delay="300">
            {{ .Params.feature_description | markdownify }}
    </div>
</article>