<section id="gallery">
      <!-- Root element of PhotoSwipe. Must have class pswp. -->
      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      
          <!-- Background of PhotoSwipe. 
               It's a separate element, as animating opacity is faster than rgba(). -->
          <div class="pswp__bg"></div>
      
          <!-- Slides wrapper with overflow:hidden. -->
          <div class="pswp__scroll-wrap">
      
              <!-- that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
              <!-- don't modify these 3 pswp__item elements, data is added later on. -->
              <div class="pswp__container">
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
              </div>
      
              <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
              <div class="pswp__ui pswp__ui--hidden">
      
                  <div class="pswp__top-bar bg-transparent h-12 z-999">
      
                      <!--  Controls are self-explanatory. Order can be changed. -->
      
                      <!-- <div class="pswp__counter font-semibold text-lg"></div> -->
      
                      <button id="pswp_close" class="pswp__button pswp__button--close mr-4 mt-10" data-no-swup title="Close (Esc)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="35" height="35" viewBox="0 0 256 256">
                          <path d="M254.7 8.1L247 .4 127.5 119.8 8.1.4.4 8.1l119.4 119.4L.4 247l7.7 7.7 119.4-119.5L247 254.7l7.7-7.7-119.5-119.5z" style="fill: #000" class="arrow-down"/>
                        </svg>
                      </button>
      
                      <button class="pswp__button pswp__button--share" data-no-swup title="Share"></button>
      
                      <button class="pswp__button pswp__button--fs" data-no-swup title="Toggle fullscreen"></button>
      
                      <button class="pswp__button pswp__button--zoom" data-no-swup title="Zoom in/out"></button>
      
                      <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                      <!-- element will get class pswp__preloader--active when preloader is running -->
                      <div class="pswp__preloader text-4xl">
                      <i class="fad fa-spinner-third fa-spin" style="{{with .Params.theme_color}}color: {{.}}{{else}}color: {{.Params.navigation_theme}}{{end}}"></i>
                      </div>
                  </div>
      
                  <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                      <div class="pswp__share-tooltip"></div> 
                  </div>
      
                  <button class="pswp__button pswp__button--arrow--left"  data-no-swup title="Previous (arrow left)">
                        <!-- <svg class="icon pointer h-8 w-8 m-4 text-black pswp__button--arrow--left">
                                <use xlink:href="#arrow-left"></use>
                        </svg> -->
                  </button>
      
                  <button class="pswp__button pswp__button--arrow--right" data-no-swup title="Next (arrow right)">
                        <!-- <svg class="icon pointer h-8 w-8 m-4 text-black pswp__button--arrow--right">
                                <use xlink:href="#arrow-right"></use>
                        </svg> -->
                  </button>
      
                  <div class="pswp__counter font-normal italic text-xl pl-4 pb-10"></div>
                  
                  <div class="pswp__caption flex flex-row items-center text-xl pr-4 pb-10">
                      <div class="caption font-semibold text-xl text-black pr-4 opacity-0"></div><div class="info text-xl text-gray-700 pr-4 uppercase">info</div>
                  </div>
      
                </div>
      
              </div>
      
      </div>
</section>