<nav id="navigation" class="fixed top-0 inset-x-0 container z-50 transition-nav mx-auto">
  <!-- logo -->
  <div class="flex flex-wrap items-center justify-between py-4 px-4 border-box">
    <div class="lg:hidden w-1/4">
        <h1 class="text-3xl shift font-bold">R</h1>
    </div>
    <div class="w-1/2 text-center lg:text-left">
      <h1 class="text-2xl font-medium tracking-wide shift">JESSE RIESER</h1>
    </div>
    <!-- mobile menu button -->
    <div class="navToggle lg:hidden w-1/4 flex justify-end">
      <button class="shift text-black hover:text-black">
        <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <!-- navigation -->
    <section role="menu" class="translate-neg lg:translate-0 menu w-full lg:w-1/2 flex flex-col lg:flex-row items-center lg:justify-end z-0">
        <a href="/" class="mt-4 lg:mt-0 lg:mr-4 text-base font-light no-underline lg:pr-4  btn-underline shift">
          selected works
        </a>
        <a href="/collections/" class="mt-4 lg:mt-0 lg:mr-4 text-base font-light no-underline lg:pr-4  btn-underline shift">
          all works
        </a>
        <a href="/about/" class="mt-4 lg:mt-0 text-base font-light no-underline btn-underline shift">
          about
        </a>
    </section>
  </div> 
</nav>