<nav id="navigation" class="fixed top-0 inset-x-0 container z-50 transition-nav  mx-auto">
  <!-- logo -->
  <div class="flex flex-row items-center justify-between py-4 px-4 border-box">
    <div class="">
      <h1 class="text-2xl font-medium shift">JESSE RIESER</h1>
    </div>
    <!-- mobile menu button -->
    <div class="lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded bg-white text-black hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <!-- navigation -->
    <div id="menu" class="hidden md:flex md:flex-row md:items-center">
        <a href="/" class="mt-4 lg:mt-0  mr-4 text-base font-light no-underline  pr-4  btn-underline shift">
          selected works
        </a>
        <a href="/collections/" class="mt-4 lg:mt-0 mr-4 text-base font-light no-underline  pr-4  btn-underline shift">
          all works
        </a>
        <a href="/about/" class="mt-4 lg:mt-0 text-base font-light no-underline  btn-underline shift">
          about
        </a>
    </div>
  </div> 
</nav>