{{ with .Site.GetPage "about" }}
<div class="popup-modal fixed z-50 text-black bg-white overflow-y-scroll" data-popup-modal="modal-about" style="height: calc(100vh - 20%);">
  <div class="h-8 w-8 m-4 fixed cursor-pointer z-50" style="top: calc(10% + 0.5rem); right: calc(10% + 0.5rem);">
      <svg class="icon h-8 w-8 text-black popup-modal__close"><use xlink:href="#close"></use></svg>
  </div>
  {{partial "about_header" .}}
  <section class="p-4 block-media group-hover flex flex-wrap mx-auto h-auto {{with .Params.row_alignment}}sm:justify-{{.}}{{else}}sm:justify-between{{end}}">
        {{- range .Params.page_sections -}}
          {{ partial (printf "blocks/block-%s.html" .block) (dict "Section" . "Page" $ "Site" $.Site) }}
        {{- end -}}
  </section>
</div>
{{end}}