<!-- static theme importer -->
<style type="text/css">
/* home style preloader */
    {{ with .Site.Home }}
        body.page-{{lower .Title | urlize}} .hue-header.page .shift{
            color: {{.Params.feature_color}} !important;
        };
    {{end}}
/* collection style preloaders */
{{ range (where .Site.RegularPages "Section" "collections") }}
    body.page-{{lower .Title | urlize}} .hue-header.page .shift{
        color: {{.Params.theme_color}} !important;
    };
    body.page-{{lower .Title | urlize}} .pswp__ui--fit .pswp__top-bar, .pswp__ui--fit .pswp__caption  {
        background: {{.Params.theme_color}} !important;
    }
    html.to-collection-{{lower .Title | urlize}} body {
        background-color: {{.Params.theme_color}};
    }
    /* {{ if eq .Params.collection_archive true }}
    html.to-collection-{{lower .Title | urlize}} body {
        background-color: #000;
    }
    {{ else }}
    html.to-collection-{{lower .Title | urlize}} body {
        background-color: {{.Params.theme_color}};
    }
    {{ end }} */
{{end}}
</style>