<!-- <footer class="flex flex-col md:flex-row text-2xl text-white justify-between mx-4 lg:mx-16 xl:mx-32 py-12">
    <div><a href="mailto:jesse@jesserieser.com" alt="Jesse Rieser Email" class="no-underline">jesse@jesserieser.com</a></div>
    <div><a href="http://instagram.com/jesserieser" alt="Jesse Reiser Instagram" class="no-underline">instagram</a></div>
    <div><a href="tel:310 985 9818" alt="Jesse Rieser Phone" class="no-underline">310 985 9818</a></div>
    <div>Los Angeles & Phoenix</div>
    <div><a href="https://www.andersonhopkins.com/" alt="Artists Representation By Anderson Hopkins" class="no-underline">Represented by Anderson Hopkin</a></div>
</footer> -->