<section class="figure figure-blog-cover block-hover lg:meta-hover  block-hover self-start {{with .Section.align_y}}sm:self-{{.}}{{end}} w-full {{with .Section.width}}sm:w-{{.}}/100{{end}} py-4 sm:py-0 mt-0 {{with .Section.margin_y}}sm:mt-{{.}}{{end}} ml-0 {{with .Section.margin_left}}sm:ml-{{.}}{{end}} mr-0 {{with .Section.margin_right}}sm:mr-{{.}}{{end}} highlight rellax-wrapper">
  <div class="rellax"  data-rellax-speed="2" data-rellax-xs-speed="0" >
  <a target="_top" href="{{.Section.link}}" id="blog-{{.Section.title | lower | urlize}}" class=" relative w-full flex flex-col h-auto sm:h-0 justify-between items-start items-center overflow-hidden {{with .Section.block_aspect_ratio }}ratio-{{.}}{{else}}sm:ratio-1x1{{end}}" style="background-color: {{.Section.color}}" data-no-swup>
    {{if .Section.media }}
      <img 
      data-sizes="auto"
      src="{{ .Section.media | safeHTML }}?width=300"
      data-srcset="{{ .Section.media | safeHTML }}?width=300 300w,
      {{ .Section.media | safeHTML }}?width=600 600w,
      {{ .Section.media| safeHTML }}?width=900 900w,
      {{ .Section.media | safeHTML }}?width=1200 1200w"
      class="lazyload bg-center object-cover absolute p-5 sm:p-0 inset-0 z-0 h-full w-full"
      data-parent-fit="cover" alt="{{.Section.title }} - blog post cover image"/>
    {{end}}
    <div class="absolute top-0 left-0 h-full w-full flex flex-col justify-center p-4 sm:p-2">
        <h1 class="text-lg {{with .Section.text_size}}lg:text-{{.}}{{else}}lg:text-2xl{{end}} opacity-100 lg:opacity-0 font-bold text-center tracking-widest" style="{{with .Section.text_color}}color:{{.}};{{else}}color:#000000{{end}}">{{.Section.title}}</h1>
        <!-- <h2 class="text-base opacity-100 lg:opacity-0 font-semibold text-center tracking-widest"  style="{{with .Section.text_color}}color:{{.}};{{else}}color:#000000{{end}}">{{.Section.meta}}</h2> -->
    </div>
  </a>
  <h6 class="mb-0 ml-0 font-normal text-xs sm:text-base tracking-widest leading-tight mt-1 sm:mt-0 text-black" data-sal="slide-down" data-sal-delay="600">{{.Section.meta}}</h6>
  </div>
</section>
