{{ $fileName1 := path.Base .Section.image_1.image | replaceRE "(.doc|.jpeg|.jpg)" "" }}

<section class="block-media-2 flex flex-col sm:flex-row{{with .Section.row_order }}-reverse{{end}} {{with .Section.row_alignment}}sm:justify-{{.}}{{else}}sm:justify-between{{end}} mx-auto h-auto">
  <figure class="figure {{with .Section.image_1.x}}sm:self-{{.}}{{end}} w-full {{with .Section.image_1.width}}sm:w-{{.}}/100{{end}} mt-4 {{with .Section.image_1.margin_y}}sm:mt-{{.}}{{end}} ml-0 {{with .Section.image_1.margin_x}}sm:ml-{{.}}%{{end}}  highlight" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" style="background: {{with .Section.image_1.color}}{{.}}{{else}}{{.Page.Params.theme_color}}{{end}};" id="{{ $fileName1 }}" data-sal="image">
    <!-- {{with .Section.row_order }}data-sal="slide-left"{{else}}data-sal="slide-right"{{end}} -->
    <a href="{{ .Section.image_1.image }}" itemprop="contentUrl" class="opengallery" pid="{{ $fileName1 }}" data-no-swup>
      <img class="lazyload" src="{{ .Section.image_1.image }}" data-src="{{ .Section.image_1.image }}" alt="{{ .Section.image_1.caption }}" itemprop="thumbnail"/>
    </a>
    <!-- {{ with .Section.image_1.caption }}
    <figcaption class="hidden" itemprop="caption description">{{ . }}</figcaption>
    {{ end }} -->
  </figure>
  <aside class="{{with .Section.text.align_x}}sm:self-{{.}}{{end}} w-full {{with .Section.text.width}}sm:w-{{.}}/100{{end}} mt-4 {{with .Section.text.margin_y}}sm:mt-{{.}}{{end}} ml-0 {{with .Section.text.margin_x}}sm:ml-{{.}}%{{end}}text-2xl">
    {{with .Section.text.caption}}{{.}}{{end}}
  </aside>
</section>