<!-- {{ with .Section.attached_blog }}
{{.}}
{{ end }} -->
{{ $key := .Site.GetPage .Section.attached_blog }}
<section class="figure block-hover self-start {{with .Section.align_y}}sm:self-{{.}}{{end}} w-full {{with .Section.width}}sm:w-{{.}}/100{{end}} mt-4 {{with .Section.margin_y}}sm:mt-{{.}}{{end}} ml-0 {{with .Section.margin_left}}sm:ml-{{.}}{{end}} mr-0 {{with .Section.margin_right}}sm:mr-{{.}}{{end}} highlight rellax rellax-off" data-rellax-speed="2" data-rellax-percentage="0">
  <button type="button" class="popup-trigger w-full sm:w-auto flex flex-col h-48 sm:h-auto justify-end sm:justify-between p-4 sm:p-8 items-start sm:items-center" style="background-color: {{$key.Params.theme_color}}" data-popup-trigger="{{$key.Params.title | lower | urlize}}">
        <h1 class="text-2xl font-bold uppercase text-left sm:text-center tracking-widest">{{$key.Params.title}}</h1>
        <h2 class="text-lg font-semibold uppercase text-left sm:text-center tracking-widest">{{$key.Params.caption}}</h2>
  </button>
  <h6 class="mb-0 ml-0 text-black uppercase tracking-widest">{{range $key.Params.news_category}}{{. | replaceRE "[\\W]" "" | lower}} {{end}}</h6>
</section>

<div class="popup-modal fixed z-100 text-white overflow-hidden fixed w-full h-full top-0 left-0 flex flex-col items-center justify-center overflow-y-scroll" data-popup-modal="{{$key.Params.title | lower | urlize}}">
  <div class="w-full h-3/4 lazyload flex flex-col items-center overflow-hidden relative" style="background-color: {{$key.Params.theme_color}};">
    <img data-srcset="{{$key.Params.blog_header}}?nf_resize=fit&w=1024 1024w, {{$key.Params.blog_header}}?nf_resize=fit&w=1920 1920w, {{$key.Params.blog_header}}?nf_resize=fit&w=2560 2560w, {{$key.Params.blog_header}}"
     data-sizes="auto"
     class="lazyload z-10 bg-center max-w-full h-full object-cover"
     data-parent-fit="cover"/>
    <div id="header-loading" class="text-center font-semibold fixed inset-x-0 bottom-0 z-50 text-4xl">
        <i class="fad fa-spinner-third fa-spin text-{{$key.Params.navigation_theme}}"></i>
  </div>
</div>
  <article class="modal-container w-ful h-full sm:w-4/5 sm:h-3/4 bg-white mx-auto rounded shadow-md z-50 overflow-y-auto">
  <header class="flex flex-row justify-between p-4">
    <div class="text-xl uppercase font-medium text-center text-black">{{$key.Params.title}}</div>
    <div class="cursor-pointer">
      <svg class="icon h-8 w-8 m-4 absolute top-0 right-0 text-black popup-modal__close"><use xlink:href="#close"></use></svg>
    </div>
  </header>
  <section class="p-4 w-100 h-100 overflow-y-scroll text-black">
        {{ $key.Params.content | markdownify }}
  </section>
  <section class="block-media group-hover flex flex-wrap mx-auto h-auto mt-8 {{with .Params.row_alignment}}sm:justify-{{.}}{{else}}sm:justify-between{{end}}">
    {{- range $key.Params.blog_builder -}}
    {{ partial (printf "blocks/block-%s.html" .block) (dict "Section" . "Page" $ "Site" $.Site) }}
    {{- end -}}
  </section>
  {{$attached := $key.Params.attached_collection}}
  <a href="/{{ substr $attached 0 -3}}" data-no-swup><div class="w-full h-16 flex justify-center items-center" style="background-color: {{$key.Params.theme_color}}">VIEW FULL COLLECTION</div></a>
  </article>
</div>
<!-- https://codepen.io/kimpetersend1/pen/LajgaW -->
