
{{ $fileName := path.Base .Section.image | replaceRE "(.doc|.jpeg|.jpg)" ""}}
<!-- <section class="block-media-1 block-hover flex flex-row {{with .Section.row_alignment}}sm:justify-{{.}}{{else}}sm:justify-between{{end}} mx-auto h-auto"> -->
  <figure class="block-static {{with .Section.width}}w-{{.}}/100{{else}}w-full{{end}} h-auto p-1 sm:p-2" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" >
    <div class="h-full w-full" {{with .color}}style="background-color: {{.}};"{{end}}>
      <img
      data-sizes="auto"
      data-srcset="{{.Section.image}}?width=450 450w,
      {{.Section.image }}?width=780 780w,
      {{.Section.image }}?width=1440 1440w,
      {{.Section.image }}?width=1920 1920w,
      {{.Section.image }}?width=2560 2560w"
      class="{{with .delay }}{{.}}{{else}}lazyload-delay{{end}} h-full object-cover z-0"
      alt="{{ .Section.caption }}"/>
    </div>
    </figure>  
<!-- </section> -->
