{{ if (and .Section.media_alignment (eq .Section.media_alignment "Left")) }}
{{ partial "blocks/block-feature-2" }}
{{ else }}
<section class="block block-feature-1 bg-{{ .Section.theme }} my-8">
  <div class="container py-4">
    <div class="flex flex-row justify-center items-center">
      <div class="text">
        <h2 class="text-3xl pb-4">{{ safeHTML .Section.headline }}</h2>
        <p>{{ safeHTML .Section.content }}</p>
      </div>
      <div class="media">
        <img class="lazy" data-src="{{$.Site.Params.netlifyLM}}{{ .Section.media.image | relURL }}" alt="{{ .Section.media.alt_text }}">
      </div>
    </div>      
  </div>
</section>
{{ end }}