<article class="block-hover sm:meta-hover relative self-start {{with .Section.align_y}}sm:self-{{.}}{{end}} w-full {{with .Section.width}}sm:w-{{.}}/100{{end}} py-4 sm:py-0 mt-0 {{with .Section.margin_y}}sm:mt-{{.}}{{end}} ml-0 {{with .Section.margin_left}}sm:ml-{{.}}{{end}} mr-0 {{with .Section.margin_right}}sm:mr-{{.}}{{end}} highlight rellax-wrapper">
  <button type="button" id="{{.Section.title | lower | urlize}}" class="popup-trigger flex flex-col relative w-full" data-popup-trigger="{{.Section.title | lower}}">
  <figure class="figure relative" style="background: {{with .Section.color}}{{.}}{{else}}{{.Page.Params.theme_color}}{{end}};" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-sal="image">
        <img class="lazyload" src="{{ .Section.image }}?height=1080" data-srcset="{{ .Section.image }}?height=1080" alt="{{ .Section.caption | htmlUnescape }}"/>
    {{ if .Section.title }}
    <figcaption class="absolute w-100 z-10 rellax px-4 sm:px-auto sm:ml-0 mb-0 text-left {{with .Section.text_alignment}}sm:text-{{.}}{{end}}" style="pointer-events:none; {{with .Section.title_margin_y}}top:{{.}};{{else}}top: 35%;{{end}} {{with .Section.title_margin_left}}margin-left:{{.}};{{end}} {{with .Section.title_margin_right}}margin-right:{{.}};{{end}}" data-rellax-speed="4" data-rellax-xs-speed="1">
      <h2 class="text-4xl {{with .Section.text_size }}sm:text-{{.}}{{else}}sm:text-6xl{{end}} {{with .Section.text_tracking }}tracking-{{.}}{{end}} {{with .Section.font_weight }}font-{{.}}{{end}} {{with .Section.line_height }}leading-{{.}}{{else}}leading-normal{{end}} text-white sm:text-black" style="color:{{with .Section.text_color }}{{.}}{{end}}">
        {{ .Section.title | markdownify}}
      </h2>
    </figcaption>
    {{ end }}
  </figure>
  {{ if .Section.meta }}
  <h6 class="w-full mb-0 ml-0 text-black font-normal text-xs sm:text-base tracking-widest leading-tight mt-1 sm:mt-0 {{with .Section.meta_align}}text-{{.}}{{end}}" data-sal="slide-down" data-sal-delay="600">{{ .Section.meta }}</h6>
  {{ end }}
  </button>
</article>

<div id="popup-{{.Section.title | lower}}" class="popup-modal fixed z-999 text-white flex flex-col overflow-y-hidden h-full w-full inset-0 " style="visibility: hidden; opacity: 0; {{with .Section.modal_color }}background: {{.}};{{else}} background-color: #ccc;{{end}}" data-popup-modal="{{.Section.title | lower}}">
  <svg width="35" height="35" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" class="hover icon pointer h-8 w-8 m-8 absolute top-0 right-0 text-white popup-modal__close z-999"><g fill="none" stroke="#fff"  stroke-miterlimit="10" stroke-width="10"><path d="m4.7 4.7 246.6 246.6"/><path d="m250.85 4.7-246.6 246.6"/></g></svg>
  <header class="fixed top-0 left-0 w-full flex flex-row justify-between pt-12 pb-4 px-2 sm:px-4" style="{{with .Section.modal_color }}background: {{.}};{{else}} background-color: #ccc;{{end}}">
    <div class="text-xl sm:text-2xl  font-medium mx-2 sm:mx-40 pb-4 w-full"  style="border-bottom: 2px solid #fff">{{ .Section.title }}</div>
  </header>
  <section class="flex flex-wrap mt-32 w-100 overflow-y-scroll scrollbar px-2 sm:px-40 mb-12" style="height: calc(100vh - 8rem);">
    {{- range .Section.modal_block -}}
      {{if .icon}}
      <article class="w-1/2 h-32 flex sm:w-1/5 px-4 py-3 justify-center">
        <img src="{{ .icon }}" class="w-full sm:w-66/100 object-contain" alt="{{.content | htmlUnescape }}">
      </article>
      {{else}}
      <article class="w-full sm:w-1/3 px-4 py-3">
        {{ .content | markdownify }}
      </article>
      {{end}}
    {{- end -}}
  </section>
</div>

<!-- https://codepen.io/kimpetersend1/pen/LajgaW -->
