
{{ $fileName := path.Base .Section.vimeo_id | replaceRE "(.doc|.jpeg|.jpg)" ""}}
<!-- <section class="block-media-1 block-hover flex flex-row {{with .Section.row_alignment}}sm:justify-{{.}}{{else}}sm:justify-between{{end}} mx-auto h-auto"> -->
  <figure class="figure block-hover magnify self-start {{with .Section.align_y}}sm:self-{{.}}{{end}} w-full {{with .Section.width}}sm:w-{{.}}/100{{end}} mt-4 {{with .Section.margin_y}}sm:mt-{{.}}{{end}} ml-0 {{with .Section.margin_left}}sm:ml-{{.}}{{end}} mr-0 {{with .Section.margin_right}}sm:mr-{{.}}{{end}} highlight" itemprop="associatedMedia" itemscope itemtype="http://schema.org/VideoObject" id="{{ $fileName }}">
    <!-- <a href="{{ .Section.image }}" itemprop="contentUrl" pid="{{ $fileName }}" data-no-swup>
      <img class="lazyload" src="{{ .Section.image }}?width=1024" data-src="{{ .Section.image }}" alt="{{ .Section.caption }}"/>
    </a> -->
    <a href="https://player.vimeo.com/video/{{.Section.vimeo_id}}" class="video relative block" itemprop="contentUrl" pid="{{ $fileName }}" background={{.Section.show_controls}} data-no-swup>
      <div class="block">
        <div class="absolute inset-auto w-full h-full z-10 bg-transparent"></div>
          <div class="iframe-frame {{with .Section.block_aspect_ratio }}ratio-{{.}}{{else}}ratio-16x9{{end}}" style="position:relative;">
              <iframe src="https://player.vimeo.com/video/{{.Section.vimeo_id}}?color={{with .Section.color}}{{. | replaceRE "#" "" }}{{else}}{{.Page.Params.theme_color}}{{end}}&title=0&byline=0&portrait=0&loop=1{{if eq .Section.show_controls true}}&background=0{{else}}&background=1&autoplay=1&loop=1&autopause=0{{end}}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
          </div>
      </div>
    </a>
    {{ with .Section.caption }}
      <figcaption class="hidden" itemprop="caption description">{{ . }}</figcaption>
    {{ end }}
  </figure>  
<!-- </section> -->