
  <article class="block-hover lg:meta-hover block-hover self-start {{with .Section.align_y}}sm:self-{{.}}{{end}} w-full {{with .Section.width}}sm:w-{{.}}/100{{end}} py-4 sm:py-0 mt-0 {{with .Section.margin_y}}sm:mt-{{.}}{{end}} ml-0 {{with .Section.margin_left}}sm:ml-{{.}}{{end}} mr-0 {{with .Section.margin_right}}sm:mr-{{.}}{{end}}">
    {{if (eq .Section.background_image_toggle true) }}
      <figure class="flex flex-col sm:flex-row md:relative md:flex-none flex-row-reverse">
        <img class="relative sm:absolute z-0 lazyload {{with .Section.parallax}}rellax rellax-off{{end}}" src="{{ .Section.image }}?width=1024" data-src="{{ .Section.image  }}" alt="{{ .Section.caption }}" {{with .Section.parallax}}data-rellax-speed="2" data-rellax-xs-speed="1"{{end}} style="{{with .Section.image_css | safeCSS }}{{.}}{{end}}; top: 15%;"/>
        <figcaption class="z-10 mt-8 sm:mt-32 w-full sm:w-115 ml-0 sm:ml-neg break-words leading-tight text-xl {{with .Section.text_size }}md:text-{{.}}{{end}} {{with .Section.text_tracking}}tracking-{{.}}{{end}} {{with .Section.background_color}} p-4{{end}}" style="{{with .Section.text_color}}color:{{.}}; {{end}}{{with .Section.background_color}}background-color:{{.}}; {{end}}{{with .Section.caption_css | safeCSS}}{{.}}{{end}}">
          {{ .Section.text | markdownify }}
        </figcaption>
      </figure>
      {{else}}
      <h1 class="relative break-words {{with .Section.font_weight }}font-{{.}} {{end}} text-xl {{with .Section.text_size }}md:text-{{.}} {{end}}{{with .Section.text_tracking}}tracking-{{.}} {{end}}{{with .Section.text_alignment }}text-{{.}} {{end}}{{with .Section.parallax}}rellax rellax-off{{end}} {{with .Section.background_color}}p-4 sm:pt-16 sm:pl-20  sm:pr-16 sm:pb-16 {{end}} leading-tight" {{with .Section.parallax}}data-rellax-speed="4" data-rellax-xs-speed="1"{{end}} style="{{with .Section.text_color}}color:{{.}}; {{end}}{{with .Section.background_color}}background-color:{{.}};{{end}} {{with .Section.caption_css | safeCSS}}{{.}}{{end}}">
        {{ .Section.text | markdownify }}
      </h1>
      {{end}}
    </article>