{{ $key := .Site.GetPage .Section.attached_blog }}
<section class="figure {{with $key.Params.blog_block_cover }}figure-blog-cover{{else}}figure-blog-text{{end}} block-hover self-start {{with .Section.align_y}}sm:self-{{.}}{{end}} w-full {{with .Section.width}}sm:w-{{.}}/100{{end}} mt-4 {{with .Section.margin_y}}sm:mt-{{.}}{{end}} ml-0 {{with .Section.margin_left}}sm:ml-{{.}}{{end}} mr-0 {{with .Section.margin_right}}sm:mr-{{.}}{{end}} highlight rellax" data-rellax-speed="2" data-rellax-xs-speed="0">
  <button type="button" class="popup-trigger relative w-full flex flex-col h-auto sm:h-0 justify-end sm:justify-between items-start sm:items-center overflow-hidden {{with $key.Params.block_aspect_ratio }}sm:{{.}}{{else}}sm:aspect-ratio-4/3{{end}}" style="background-color: {{$key.Params.theme_color}}" data-popup-trigger="{{$key.Params.title | lower | urlize}}">
    {{with $key.Params.blog_block_cover }}
      <img 
      data-sizes="auto"
      data-srcset="{{ . }}?nf_resize=fit&h=1440"
      class="lazyload bg-center object-cover hidden sm:absolute inset-0 z-0 h-full w-full"
      data-parent-fit="cover"
      id="header-image"/>
    {{end}}
    <div class="relative sm:absolute top-0 left-0 h-full w-full flex flex-col justify-center p-4 sm:p-2">
        <h1 class="text-2xl sm:text-lg lg:text-2xl opacity-100 sm:opacity-0 font-bold text-left sm:text-center tracking-widest">{{$key.Params.title}}</h1>
        <h2 class="text-lg sm:text-base lg:text-lg opacity-100 sm:opacity-0 font-semibold text-left sm:text-center tracking-widest">{{$key.Params.caption}}</h2>
    </div>
  </button>
  <h6 class="mb-0 ml-0 text-black tracking-widest">{{range $key.Params.news_category}}{{. | replaceRE "[\\W]" "" | lower}} {{end}}</h6>
</section>

<article class="popup-modal scrollbar flex flex-col fixed z-999 text-black bg-white overflow-y-scroll overflow-x-hidden h-full w-full inset-0" data-popup-modal="{{$key.Params.title | lower | urlize}}" style="visibility: hidden; opacity: 0;">
  <div class="w-full px-2 sm:px-40">
    <header class="fixed top-0 left-0 w-full px-2 sm:px-40 flex flex-row justify-between py-6 z-100 bg-white">
      <div class="text-xl sm:text-2xl uppercase font-medium text-center text-black">JESSE RIESER</div>
        <div class="text-lg sm:text-xl pr-12 sm:pr-0 uppercase font-medium text-center text-black">NEWS: <span class="italic font-normal">{{range $key.Params.news_category}}{{.}}{{end}}</span></div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="35" height="35" viewBox="0 0 256 256" class="icon pointer h-6 w-6 mt-6 mr-2 sm:m-6 absolute top-0 right-0 text-white popup-modal__close z-999">
          <path d="M254.7 8.1L247 .4 127.5 119.8 8.1.4.4 8.1l119.4 119.4L.4 247l7.7 7.7 119.4-119.5L247 254.7l7.7-7.7-119.5-119.5z" style="fill: #000" class="arrow-down"/>
        </svg>
    </header>
    <div class="w-full lazyload relative mt-20">
        <div class="paginated_gallery gallery">
          <div class="gallery_scroller flex flex-row justify-start items-center carousel" style="transform: translate3d(0,0,0);"
          data-flickity='{ "wrapAround": true, "percentPosition": false, "draggable": ">1", "arrowShape": "m77.59 5.06-5.17-5.21-50 50 50 50 5.17-5.21-44.77-44.81z"}'>
            {{- range $key.Params.blog_slider -}}
            <div class="carousel-cell w-full" style="padding-top: 56.25%;">
              <!-- background-color: {{$key.Params.theme_color}}; -->
              {{ partial (printf "blocks/block-%s.html" .block) (dict "Section" . "Page" $ "Site" $.Site) }}
            </div>
            {{- end -}}
          </div>
        </div>
    </div>
    <section class="py-6 mx-auto">
      <header class="flex flex-col items-start">
        <div class="text-2xl sm:text-4xl font-bold text-black pb-2">{{$key.Params.title}}</div>
        <div class="text-lg sm:text-2xl font-medium italic  text-black pb-6">{{$key.Params.caption}}</div>
      </header>
      <div class="text-lg w-100 h-100 text-black leading-loose pb-16">
            {{ $key.Params.content | markdownify }}
      </div>
      <section class="block-media group-hover flex flex-wrap mx-auto h-auto {{with .Params.row_alignment}}sm:justify-{{.}}{{else}}sm:justify-between{{end}}">
        {{- range $key.Params.blog_builder -}}
        {{ partial (printf "blocks/block-%s.html" .block) (dict "Section" . "Page" $ "Site" $.Site "color" $key.Params.theme_color) }}
        {{- end -}}
      </section>
    </section>
  </div>
<!-- https://codepen.io/kimpetersend1/pen/LajgaW -->
{{$attached := $key.Params.attached_collection}}
{{ with .Site.GetPage $attached }}
<section class="mt-16 sm:mt-16 text-black">
  <a href="/{{.Params.slug}}" alt="view collection" class="exit-modal" data-swup-preload>
      <div class="mx-auto w-full mt-16 mb-8 text-center font-light"  data-sal="slide-down" data-sal-delay="300">
          <!-- <p class="text-5xl font-hairline" style="line-height: 0.4;">&#8963;</p> -->
          <p class="text-md sm:text-xl font-light">View Full Project</p>
      </div>
  </a>
</section>
{{end}}


</article>
