
{{ $fileName := path.Base .Section.image | replaceRE "(.doc|.jpeg|.jpg)" ""}}
<article class="block-hover relative self-start {{with .Section.align_y}}sm:self-{{.}}{{end}} w-full {{with .Section.width}}sm:w-{{.}}/100{{end}} mt-4 {{with .Section.margin_y}}sm:mt-{{.}}{{end}} ml-0 {{with .Section.margin_left}}sm:ml-{{.}}{{end}} mr-0 {{with .Section.margin_right}}sm:mr-{{.}}{{end}} highlight rellax-wrapper">
  <figure class="figure relative" style="background: {{with .Section.color}}{{.}}{{else}}{{.Page.Params.theme_color}}{{end}};" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" id="{{ $fileName }}" data-sal="image">
    <a href="/{{substr .Section.attached_collection 0 -3 }}">
      <img class="lazyload" src="{{ .Section.image }}?nf_resize=fit&w=1024" data-src="{{ .Section.image }}?nf_resize=fit&w=1024" alt="{{ .Section.caption }}"/>
    </a>
    {{ if .Section.title }}
    <figcaption class="absolute w-100 z-10 rellax px-4 sm:px-auto sm:ml-0 mb-0" style="pointer-events:none; bottom: 35%; {{with .Section.title_margin_left}}margin-left:{{.}};{{end}} {{with .Section.title_margin_right}}margin-right:{{.}};{{end}}" data-rellax-speed="3" data-rellax-percentage="0">
      <h2 class="text-white sm:text-black uppercase text-4xl sm:text-6xl tracking-widest font-semibold">{{ .Section.title }}</h2>
    </figcaption>
    {{ end }}
  </figure>
  {{ if .Section.meta }}
  <h6 class="mb-0 ml-0 text-black uppercase tracking-widest">{{ .Section.meta }}</h6>
  {{ end }}
</article>
