<section class="container block-hover block-media-2 flex flex-col md:flex-row {{with .Section.row_alignment}}md:justify-{{.}}{{else}}md:justify-between{{end}} mx-auto h-auto">
      <figure class="figure {{with .Section.image_1.x}}md:self-{{.}}{{end}} w-full {{with .Section.image_1.width}}md:w-{{.}}/100{{end}} mt-4 {{with .Section.image_1.margin}}sm:mt-{{.}}{{end}} highlight" style="background: {{with .Section.image_1.color}}{{.}}{{else}}{{.Page.Params.theme_color}}{{end}};" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" id="{{ .Section.image_1.image | replaceRE "[a-zA-Z-:./]" "" }}" data-sal="image">
        <a href="{{ .Section.image_1.image }}" itemprop="contentUrl" class="opengallery" data-no-swup>
          <img class="lazyload" src="{{ .Section.image_1.image }}{{$.Site.Params.lowRes}}" data-src="{{ .Section.image_1.image }}" alt="{{ .Section.image_1.caption }}"  itemprop="thumbnail"/>
        </a>
        {{ with .Section.image_1.caption }}
        <figcaption class="hidden" itemprop="caption description">{{ . }}</figcaption>
        {{ end }}
      </figure>
      <figure class="figure {{with .Section.image_2.x}}md:self-{{.}}{{end}} w-full {{with .Section.image_2.width}}md:w-{{.}}/100{{end}} mt-4 {{with .Section.image_2.margin}}sm:mt-{{.}}{{end}} highlight" itemprop="associatedMedia" style="background: {{with .Section.image_2.color}}{{.}}{{else}}{{.Page.Params.theme_color}}{{end}};" itemscope itemtype="http://schema.org/ImageObject" id="{{ .Section.image_2.image | replaceRE "[a-zA-Z-:./]" "" }}" data-sal="image">
        <a href="{{ .Section.image_2.image }}" itemprop="contentUrl" class="opengallery"  data-no-swup>
          <img class="lazyload" src="{{ .Section.image_2.image }}{{$.Site.Params.lowRes}}" data-src="{{ .Section.image_2.image }}" alt="{{ .Section.image_2.caption }}"   itemprop="thumbnail"/>
        </a>
        {{ with .Section.image_2.caption }}
        <figcaption class="hidden" itemprop="caption description">{{ . }}</figcaption>
        {{ end }}
      </figure>
</section>