{{- define "main" -}}
<article class="content mx-auto px-8 xl:px-16">
        {{partial "collection_sorter" .}}
    <section id="filter" class="flex flex-wrap overflow-hidden filter-container" style="opacity: 0;">
        {{ range where (where .Pages ".Params.collection_archive" "!=" true) ".Params.collection_hidden" "!=" true}}
                {{ partial "collection_sorter_item" .}}
        {{ end }}
    </section>
</article>
<article id="archive" class="bg-black mt-16 py-8">
    <section class="flex flex-wrap mx-auto overflow-hidden text-white px-8 xl:px-16">
    <h2 class="w-full pb-8 font-semibold tracking-wide pl-2">ARCHIVE</h2>
        {{ range where (where .Pages ".Params.collection_archive" "=" true) ".Params.collection_hidden" "!=" true}}
                {{ partial "collection_sorter_item" .}}
        {{ end }}
    </section>
</article>
{{- end -}}

{{- define "attached" -}}
{{ $filter := .Site.Data.webpack.filter }}
{{ with $filter.js }}
<script src="{{ . | relURL }}" async></script>
{{ end }}
{{- end -}}