{{- define "main" -}}
    <section data-hue="{{.Params.navigation_theme}}">
    {{ partial "collection_header" .}}
    </section>
    <section data-hue="page" class="pt-8 mx-auto bg-white">
        <div class="my-gallery px-8 xl:px-16" itemscope itemtype="http://schema.org/ImageGallery">
            <section class="block-media block-hover flex flex-wrap mx-auto h-auto {{with .Params.row_alignment}}sm:justify-{{.}}{{else}}sm:justify-between{{end}}">
            {{- range .Params.collection_layout_builder -}}
            {{ partial (printf "blocks/block-%s.html" .block) (dict "Section" . "Page" $ "Site" $.Site) }}
            {{- end -}}
            </section>
        </div>
    {{ partial "collection_brief" .}}
    </section>
    {{ partial "gallery" . }}
{{- end -}}
