{{- define "main" -}}
    {{ partial "collection_header" .}}
    <section data-hue="page" class="pt-8 mx-auto bg-white">
        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
            {{- range .Params.collection_layout_builder -}}
                {{ partial (printf "blocks/block-%s.html" .block) (dict "Section" . "Page" $ "Site" $.Site) }}
            {{- end -}}
        </div>
    </section>
    {{ partial "collection_brief" .}}
{{- end -}}

{{- define "attached" -}}
{{ $key := .Site.GetPage .Params.attached_gallery }}
<script async>
var items = [
    {{ range sort $key.Params.figure }}
        { src: "{{ .image }}", w: 0, h: 0, msrc: "/uploads/r-loader.png", pid: "{{ .image | replaceRE "[a-zA-Z-./:]" "" }}"},
    {{ end }}
]
</script>
{{ $gallery := .Site.Data.webpack.gallery }}
{{ with $gallery.js }}
<script src="{{ . | relURL }}" async></script>
{{ end }}
{{ partial "gallery" . }}
{{- end -}}
