{{- define "main" -}}
<article id="filter-container" class="relative" style="transform: translate3d(0px, 0px, 0px); opacity: 0;">
    <div class="hidden">{{partial "collection_sorter" .}}</div>
    <section class="overflow-x-hidden content mx-auto">
        <div id="filter-loading" class="fixed mt-24" style="left: 50%; margin-left: -1rem;">
            <svg id="filter-loading" class="text-4xl icon h-8 w-8 text-black spin">
                <use xlink:href="#spinner"></use>
            </svg>
        </div>
        <div id="filter-error" class="text-center text-xl font-semibold fixed inset-x-0 mt-24">
            <h1>NO RESULTS.</h1>
            <h2>TRY REMOVING SOME OF THE SELECTED CATEGORIES ABOVE.</h2>
        </div>
        <section id="filter" class="flex flex-wrap overflow-hidden filter-container z-10 mx-auto relative pl-0 sm:pl-5 md:pl-6" style="opacity: 0;">
            {{ range .Site.Data.categories}}
            {{ range .shop_sorter}}
            {{ with $.Site.GetPage . }}
                {{ partial "collection_shop_item" .}}
            {{ end }}
            {{ end }}
            {{ end }}
        </section>
    </section>
</article>
{{- end -}}


{{- define "attached" -}}
{{ $filter := .Site.Data.webpack.filter }}
{{ with $filter.js }}
<script src="{{ . | relURL }}" async></script>
<!-- <script src="https://gumroad.com/js/gumroad.js" async></script> -->
{{ end }}
{{- end -}}